.js-toggle-dark-mode {
  height: 100%;
  line-height: 1;
}

.js-toggle-dark-mode-wrapper {
  align-items: center;
  display: flex;
  margin-left: auto;
  padding: 5px;
}

.theme-light {
  --code-background-color: #f6f8fa;
  --code-border-color: #d0d7de;
}

.theme-dark {
  --code-background-color: #0d1117;
  --code-border-color: #30363d;
}

.highlight,
pre.highlight {
  background-color: var(--code-background-color);
  border: 1px solid var(--code-border-color);
  box-shadow: none;
}

.highlight pre {
  background-color: transparent;
}
